{% extends "AppBundle:Todo:index.html.twig" %}
{% block list %}
{% for todo in todos %}
<div class="row todo">
    <div class="col-sm-11">
        <div class="panel panel-default">
            <div class="panel-body">
                <em>{{ todo.date|date('Y-m-d') }}</em>
                {{ todo.content }}
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <p>
            {# Bouton de restauration #}
            <a href="{{ path('todo_index', {'todoId': todo.id}) }}" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-repeat"></span>
            </a>
            {# Bouton de suppression #}
            <a href="{{ path('todo_index', {'todoId': todo.id}) }}" onclick="return confirm('Confirmer la suppression ?')" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}
